@charset "UTF-8";
/* Inter Font Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Create ROOT*/
:root {
    --primary-color-: #ffffff;
    --secondary-color-: #000000;
    --font-inter-: "Inter", sans-serif
}

/* Main */